<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  {% include nav.html %}

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
</head>
<body>
  {% include header.html %}
  <!-- {% include nav.html %} -->
  <main class="site-main">
    <article class="post-content">
      <h2>{{ page.title }}</h2>
      <p><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time></p>
      {{ content }}
    </article>
  </main>
  {% include footer.html %}
  <!-- jQuery, Popper.js, and Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- Custom JS-->
  <script src="{{ site.baseurl }}/assets/js/main.js"></script>
</body>
</html>
